html {
	padding: 1.5em 1em 2em;
}

.outter-wrapper{
	max-width: 1480px; 
	margin: 0 auto; 
	padding: 0em;
}

.wrapper { 
	max-width: 1160px; 
	margin: 0 auto;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	padding: 1em 20px;
}


@media only screen and (max-width: 1480px) {
	html {
		padding: 0;
	}	
}